@CHARSET "ISO-8859-1";

.add-buton {
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.title {
	
	width: 100%;
	margin-left: 50px;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-left: 0px;
	
}

.title td {
	width: 35%;
}

.title-right-text{
	
	text-align:right;
	padding-right: 10px;
	
}

.all-user-tx{
	
	padding-left: 10px;
	
}

